.Beneficios{
	background-color: #D7DBDD ;
}
.html{
	background-color: 
}
body{
	background-color: #d5f5e3;
}
 img {
            float:right;
            margin-right: 100px;
           height: 250px;

	

        }
 .LOGO{
	float:right;
	margin-right: 1%;
	margin-left: 5%;
	width:5%;
	height: 5%;
}

